<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <p>マイページ</p>
      <h1>
        <%= gravatar_for @user, 150 %>
        <%= @user.name %>
        <%= render 'follow_form' if logged_in? %>
      </h1>
      <p>性別： <%= @user.gender %></p>
      <p>
        <% if @user.birthdate.present? %>
          年齢： <%= (Date.today.strftime('%Y%m%d').to_i - @user.birthdate.strftime('%Y%m%d').to_i) / 10000%>歳
        <% else %>
          <% nil %>
        <% end %>
      </p>
      <p>
        都道府県： <%= @prefecture.map { |p| p.name } %>
      </p>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
</div>

<% if @user.id == current_user.id %>

<% else %>
  <% if @isRoom == true && %>
    <p><a href="/rooms/<%= @roomId %>">ダイレクトメッセージ</a>
  <% else %>
    <%= form_for @room do |f| %>
      <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, :value=> @user.id %>
      <% end %>
      <%= f.submit "チャットを始める" %>
    <% end %>
  <% end %>
<% end %>
