<header class="navbar navbar-fixed-top navbar-inverse">
 <div class="container">
  <%= link_to "matchðŸ’”", '#', id: "logo" %>
  <nav>
   <ul class="nav navbar-nav navbar-right">
    <li><%= link_to "ãƒžãƒƒãƒ", '#' %></li>
    <li><%= link_to "ã„ã„ã­", '#' %></li>
    <li><%= link_to "ãƒ¡ãƒƒã‚»ãƒ¼ã‚¸", '#' %></li>
    <li><%= link_to "ãƒ­ã‚°ã‚¤ãƒ³", '#' %></li>
   </ul>
  </nav>
 </div>
</header>